nav {
    position: relative;
    display: inline-block;
    font-size: calc(0.6rem + 0.4vw);
}

nav content{
    display: none;
    position:absolute;
    background-color: #0099cc;
    min-width:160px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px 20px 5px 20px;
    padding: 5px 0px 5px 2px;
    z-index: 1; 
    border:2px blue outset;
}

nav:hover content{
    display: block; right:0px;
    cursor: pointer;
}

nav span:hover{
    cursor: pointer;
}
nav content p:hover{
    background-color:silver; border:2px blue outset;
    cursor: pointer;
}

nav content p{
    padding : 2px; margin:5px; border:2px blue inset;
    border-radius: 5px; text-align:center;
}
